.image {
    border : 5px solid #ffffff;
    width : 100%;
}
#poster {
    width: 50%;
    margin-left : 25%;
    margin-top : 40px;
}
body {
    background-color: black;
    color : white;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
p {
    text-align: center;
}