<%- include("partials/header.ejs") %>
<div class="container">
    <h2>Write your new blog here</h2><br>
    <form class="create-form" action="/submit" method="POST">
        <input type="text" name="title" placeholder="Whats the title" required>
        <textarea
            name="text"
            placeholder="Write on mee..."
            required
        ></textarea>
        <button type="submit" class="submit-btn">
            Publish Blog
        </button>
    </form>
</div>
<center><h2> Check Your blogs in Blogs section above </h2>
</center>
<%- include("partials/footer.ejs") %>