<%- include("partials/header.ejs") %>
<div class="container">
    <h2>Write your blog here</h2><br>
    <form class="create-form" action="/submit" method="POST">
        <input type="text" name="title" placeholder="Blog title" required>
        <textarea
            name="text"
            placeholder="Write your blog here..."
            required
        ></textarea>
        <button type="submit" class="submit-btn">
            Publish Blog
        </button>
    </form>
</div>

<%- include("partials/footer.ejs") %>