<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Project</title>
</head>
<body>
    <h1>EJS</h1>
    Current seconds = <%= seconds   %>
    <% if (seconds%2==0){ %>
        <ul>
        <% items.forEach((fruit)=>{ %>
             <li><%=fruit%></li> 
        <% }); %>
        </ul>
    <%} else{%>
        <p>nothing to display odd</p>
    <% }%>
    <%- htmlContent %>
    <%- include("footer.ejs")%>
</body>